<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta
			name="description"
			content="swe 573 projet, co-learn web application"
		/>
		<meta name="author" content="onur demirkale" />

		<title>Co-Learn</title>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
	</head>
	<body class="bg-light">
		<!-- Navbar -->
		{%include 'navbar_auth.html'%}
		<!-- Navbar End -->
		<div class="container">
			<div class="py-5 text-center">
				<h2>Create Learning Space</h2>
			</div>
			<div class="flex-row justify-content-center d-flex">
				<form
					method="POST"
					action="/learningspace/create"
					class="needs-validation"
					novalidate
				>
					<div class="form-group">
						<label for="title">Title</label>
						<input
							type="text"
							class="form-control"
							id="title"
							placeholder="Title"
							required
						/>
						<div class="invalid-feedback">Please provide a title.</div>
					</div>

					<div class="form-group">
						<label for="overview">Overview</label>
						<textarea
							class="form-control"
							id="overview"
							rows="3"
							required
						></textarea>
						<div class="invalid-feedback">Please provide an overview.</div>
					</div>

					<div class="form-group">
						<label for="prerequisites">Prerequisites</label>
						<input
							type="text"
							class="form-control"
							id="prerequisites"
							placeholder="Prerequisite 1, Prerequisite 2..."
						/>
					</div>

					<div class="form-group">
						<label for="keywords">Keywords</label>
						<input
							type="text"
							class="form-control"
							id="keywords"
							placeholder="Keyword 1, Keyword 2..."
						/>
					</div>

					<div class="form-group">
						<div class="custom-file">
							<input
								type="file"
								class="custom-file-input"
								id="thumbnail"
								required
							/>
							<label class="custom-file-label" for="validatedThumbnail"
								>Choose a thumbnail...</label
							>
							<div class="invalid-feedback">Invalid thumbnail.</div>
						</div>
					</div>

					<div class="text-center form-group">
						<button class="btn btn-primary" type="submit">Create</button>
					</div>
				</form>
			</div>
		</div>
		<!-- Footer -->
		{%include 'footer.html'%}
		<!-- Footer end-->
	</body>
</html>

<!-- JavaScript for disabling form submissions if there are invalid fields -->
<script>
	(function () {
		'use strict';
		window.addEventListener(
			'load',
			function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener(
						'submit',
						function (event) {
							if (form.checkValidity() === false) {
								event.preventDefault();
								event.stopPropagation();
							}
							form.classList.add('was-validated');
						},
						false
					);
				});
			},
			false
		);
	})();
</script>
<!-- JavaScript End -->
